name: Build and Test
on:
  - push
jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version:
          - 2.0
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
#       - name: Install dependencies
#         run: dotnet restore
#       - name: Build
#         run: dotnet build --configuration Release --no-restore
#       - name: Test
#         run: dotnet test --no-restore --verbosity normal
